.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100hv;
  text-align: center;
  margin-top: 5%;
}

.X{
  color: blue;
  font-weight: bold;
}

.O{
  color: red;
  font-weight: bold;
}

.row{
  display: inline-flex;
}

.App button{
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 80px;
  margin: 5px 5px 5px  5px;
  border: solid 4px;
  transition: 0.3s;
  font-size: 30px;
}

.App button:hover{
  background-color: rgb(182, 169, 169);
  transition: 0.3s;
}

@media screen and (max-width:900px) {
  .App{
    margin-top: 40%;
  }
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.menu button {
  width: 200px;
  height: 60px;
  border: 2px solid;
  border-radius: 8px;
  transition: 0.3s;
}

.menu button:hover{
  transition: 0.3s;
  background-color: red;
}
