.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subcontainer_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    border-bottom: 2px solid gray;
}

.subcontainer_1 button{
    background-color: black;
    color: white;
    margin-top: 40%;
    border-radius: 8px;
    font-weight: bold;
    height: 30px;
    width: 80px;
    transition: 0.5s;
}

.subcontainer_1 button:hover{
    background-color: red;
    transition: 0.5s;
}

.subcontainer_2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 5px 8px;
    

}
.table th {
    text-align: center;
    padding: 10px 35px;
    background-color: rgba(128, 128, 128, 0.644);
  }

.table td {
    background-color: #eee;
    text-align: center;
    width: auto;
    padding: 10px 35px;
  }

@media screen and (max-width: 900px) {
    .subcontainer_1{
        width: 90%;
    }
    .subcontainer_1 button{
        margin-top: 30%;
    }
}